.terraform/
*.tfstate
*.tfstate.backup

.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

*.sqlite3
*.log

.vscode/
.idea/
*.code-workspace

.git/
.gitignore

.DS_Store
Thumbs.db

.env

*.exe
*.zip
*.tar

